* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.heading {
    height: 10vh;
    width: 100vw;
    background-color: #6D0808;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    height: 40%;
    width: 15%;
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px;
}

button {
    height: 40%;
    width: 5%;
    background-color: #EEEAD7;
    margin-right: 10px;
    border-radius: 10px;
}

.taskContainer {
    height: 90vh;
    width: 100vw;
    background-color: #EEEAD7;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.task {
    min-height: 10%;
    width: 30%;
    background-color: #6D0808;
    color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}

.deleteIcon {
    height: 40px;
    width: 40px;
}